.tag_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 1;
  padding: 15px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 #0000008f;
}

.tag_ticket {
  background: #ffec97;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.tag_ticket_global {
  background: #ffdb3b;
}

.tag_ticket__delete {
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.add_tag_ticket {
  background: #ff9797;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.add_tag_ticket__inp {
  background: #ff7c7c;
  border: none;
}

.add_tag_ticket__btn {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
