.default_authed_page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: #a1a1a1;
    box-sizing: border-box;
}

.default_authed_page__content {
    background: #fff;
    border-radius: 25px;
    border: 1px solid #000;

    box-shadow: 5px 5px 5px 0 #0000008f;
    box-sizing: border-box;
    min-height: 30px;
    padding: 25px;
    
}