.default_authed_page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  background: #e7e7e7;
  box-sizing: border-box;
}

.default_authed_page__content {
  background: #fff;
  border-radius: 25px;
  align-self: center;

  box-shadow: 5px 5px 5px 0 #0000008f;
  box-sizing: border-box;
  min-height: 30px;
  padding: 25px;
  max-width: 1170px;
  width: 100%;
}
