@import "../../assets/screen-resolutions";

.summaryPageTitle {
  font-size: 24px;
  font-weight: bold;
}

.summaryPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: $tablet-width) {
  .summary_page__title {
    font-size: 20px;
  }
}
