@import "../../../assets/screen-resolutions";

.create_document__file_loader {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.create_document_form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: $tablet-width) {
  .create_document_form {
    flex-direction: column;
  }

  .create_document__file_loader {
    padding: 0;
    gap: 10px;
  }
}
