@import "../../../assets/screen-resolutions";

.createDocumentFileLoader {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.createDocumentForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: $tablet-width) {
  .createDocumentForm {
    flex-direction: column;
  }

  .createDocumentFileLoader {
    padding: 0;
    gap: 10px;
  }
}
