.paragraph_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #e5e5e5;
  border-radius: 15px;
  padding: 20px;
}

.paragraph_item__content {
  font-size: 14px;
  width: fit-content;
}

.paragraph_item__content:hover {
  background: #00aeff65;
}

.paragraph_item__delete {
  width: 15px;
  height: 15px;
}

.paragraph_item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paragraph_item__title_tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.paragraph_item__options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.paragraph_item__title {
  font-size: 14px;
}

.icon {
  box-sizing: border-box;
  padding: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.icon:active {
  opacity: 0.4;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 24px;
}

.content_wrapper:hover .icon__paragraph {
  display: flex;
}

.icon__paragraph {
  display: none;
}

.icons {
  display: flex;
  gap: 5px;
}

.paragraph_item__content_focus {
  background: #00eeff65;
}
