@import url("../../palette.css");

.paragraph_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraph_item__content {
  font-size: 14px;
  width: fit-content;
}

.paragraph_item__content:hover {
  background: var(--par-bg-hover-color);
}

.paragraph_item__delete {
  width: 15px;
  height: 15px;
}

.paragraph_item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paragraph_item__title_tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.paragraph_item__options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.paragraph_item__title {
  font-size: 14px;
}

.icon {
  box-sizing: border-box;
  padding: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.icon:active {
  opacity: 0.4;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 24px;
  position: relative;
}

.icons:hover,
.content_wrapper:hover .icons {
  display: flex;
}

.icon__paragraph {
  display: flex;
}

.icons {
  display: none;
  gap: 5px;
  position: absolute;
  right: 0;
  border-radius: 4;
  background: var(--icon-bg-color);
  box-shadow: 0 0 1px 1px var(main-wrapper-bg-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.icons_add {
  top: 30px;
}

.paragraph_item__content_focus {
  background: var(--par-bg-focus-color);
}

.paragraph_item__tag_counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: var(--tag-bg-local-color);
  width: 15px;
  height: 15px;
  font-size: 10px;
  position: absolute;
  left: -20px;
  color: var(--table-bg-second-color);
}

.paragraph_item {
  position: relative;
}
