.header__user_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  justify-content: center;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #fff;

  box-shadow: 5px 5px 5px 0 #0000008f;
  box-sizing: border-box;
  min-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.header__right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.header__logout {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
