.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.signInFormTitle {
  margin: 10px;
  font-size: 30px;
}

.signUpFormBtns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
