.document_list_item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #0000008f;
    padding: 10px;
}

.document_list_item:hover {
    background: #7e7e7e8f;
}

.document_list {
    display: flex;
    flex-direction: column;
}

.document_list_item__icon {
    width: 30px;
    height: 30px;
}