.file_input__inp {
  display: none;
}

.file_input__wrapper {
  background: #ff9f9f;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.file_input__wrapper:hover {
  box-shadow: 2px 2px 2px 0 #0000008f;
}
