@import url("../../palette.scss");

.page_wrapper {
  background: var(--main-bg-second-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 0 var(--main-wrapper-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  background: var(--main-bg-color);
  margin: auto;
}
