.page_wrapper {
  background: #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 0 #0000008f;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  margin: auto;
}
