@import url("../../palette.scss");
@import "../../assets/screen-resolutions";

.summary_table {
  overflow-y: hidden;
  position: relative;
  overflow-x: scroll;
}

.summary_table__cell {
  text-align: center;
  background: var(--table-bg-color);
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 1px 1px var(--main-wrapper-bg-color);
  }
}

.summary_table__left_cell {
  width: 200px;
  background: var(--table-bg-header-color);
  text-align: start;
}

.summary_table__header_cell {
  background: var(--tag-bg-create-color);
  padding-top: 10px;
}

.summary_table__content {
  text-decoration: none;
  color: var(--table-bg-second-color);
}

.summary_table__content_wrapper {
  width: 100px;
}

.summary_table__left_content_wrapper {
  width: 200px;
}

.summary_table__selected_cell {
  background: var(--tag-bg-local-color);
}

@media (max-width: $tablet-width) {
  .summary_table__cell {
    font-size: 12px;
  }
}
