@import url('../../palette.css');

.summary_table {
  background: var(--table-borde-color);
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 8px;
  overflow: hidden;
}

.summary_table__row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.summary_table__cell {
  flex: 1;
  text-align: center;
  background: var(--table-bg-color);
  padding: 8px;
  box-sizing: border-box;
}

.summary_table__left_cell {
  flex: 2;
  background: var(--table-bg-header-color);
  text-align: start;
}

.summary_table__header_cell {
  background: var(--table-bg-header-color);
  padding-top: 16px;
}
