@import url("../../palette.css");

.summary_table {
  background: var(--table-bg-second-color);
  overflow-y: hidden;
  position: relative;
  overflow-x: scroll;
}

.summary_table__cell {
  text-align: center;
  width: 50px;
  background: var(--table-bg-color);
  padding: 8px;
  box-sizing: border-box;
}

.summary_table__left_cell {
  width: 200px;
  background: var(--table-bg-header-color);
  text-align: start;
}

.summary_table__header_cell {
  background: var(--table-bg-header-color);
  padding-top: 16px;
}
