@import url("../../palette.scss");
@import "../../assets/screen-resolutions";

.summaryTable {
  overflow-y: hidden;
  position: relative;
  overflow-x: scroll;
  margin-bottom: 10px;
}

.summaryTableCell {
  text-align: center;
  background: var(--table-bg-color);
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 1px 1px var(--main-wrapper-bg-color);
  }
}

.summaryTableLeftCell {
  width: 200px;
  background: var(--table-bg-header-color);
  text-align: start;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  border-right: 2px solid var(--inp-font-color);
}

.summaryTableHeaderCell {
  background: var(--tag-bg-create-color);
  padding-top: 10px;
}

.summaryTableContent {
  text-decoration: none;
  color: var(--table-bg-second-color);
}

.summaryTableContentWrapper {
  width: 100px;
}

.summaryTableLeftContentWrapper {
  width: 200px;
}

.summaryTableSelectedCell {
  background: var(--tag-bg-local-color);
}

@media (max-width: $tablet-width) {
  .summaryTableCell {
    font-size: 12px;
    padding: 2px;
  }

  .summaryTableContent {
    color: var(--inp-font-color);
    font-weight: 500;
  }

  .summaryTableLeftContentWrapper {
    width: 100px;
  }

  .summaryTableLeftCell {
    position: relative;
  }

  .summaryTableContentWrapper {
    width: 75px;
  }

  .summaryTableHeaderCell {
    padding-top: 5px;
  }
}
