.error_form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: #0000008f;
}

.error_form {
  background: #fccdcd;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 5px 0 #0000008f;
}
