@import url("../../../../palette.css");

.pulse_btn {
  display: inline-grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  appearance: none;
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
  background-color: transparent;
  color: var(--btn-font-color);
  background: var(--btn-bg-color);
  border-radius: 0.125em;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.pulse_btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 750ms;
  z-index: -1;
  width: 150%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--btn-pulse-color);
  opacity: 0.5;
}

.pulse::before {
  animation: pulse 1000ms;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
