.documentPage {
  display: flex;
  flex-direction: column;
}

.documentPageEditIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.documentPageTitle {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  gap: 4px;
}

.icon {
  box-sizing: border-box;
  padding: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.icon:active {
  opacity: 0.4;
}
