.document_page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.document_page__edit_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.document_page__title {
  font-size: 16px;
}

.icon {
  box-sizing: border-box;
  padding: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
  cursor: pointer;
}

.icon:active {
  opacity: 0.4;
}
